
@font-face {
  font-family: 'YekanBakh';
  src: url('/fonts/YekanBakh/IRANYekanXVF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'YekanBakh', sans-serif;
}
